<div ng-controller="DashboardController">
    <h3>Dashboard</h3>
    <div layout="row">
        <div flex="60">
            <form name="userForm" novalidate>                
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>First name</label>
                        <input ng-model="user.firstName" type="text" name="first" required>                        
                    </md-input-container>                   
                    <div ng-show="userForm.$submitted || userForm.first.$touched">
                      <div class="error" ng-show="userForm.first.$error.required">Enter First name.</div>
                    </div>
                    
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Last Name</label>
                        <input ng-model="user.secondName" type="text" name="second" required>
                    </md-input-container>
                    <div ng-show="userForm.$submitted || userForm.second.$touched">
                      <div class="error" ng-show="userForm.second.$error.required">Enter Second name.</div>
                    </div>
                
                <md-input-container class="md-block" flex-gt-sm>
                    <label>Email</label>
                    <input ng-model="user.email" type="email" name="email" required>
                </md-input-container>
                <div ng-show="userForm.$submitted || userForm.email.$touched">                      
                       <div class="error" ng-show="userForm.email.$invalid">Email invalid.</div>
                    </div>
                <md-input-container class="md-block" flex-gt-sm>
                    <label>Mobile</label>
                    <input ng-model="user.number" type="number" name="number" required>
                </md-input-container>
                <div ng-show="userForm.$submitted || userForm.number.$touched">                      
                       <div class="error" ng-show="userForm.number.$invalid">Email invalid.</div>
                    </div>
                
                 <md-button style ="width:100%;" class="md-raised md-primary" ng-disabled ="userForm.$invalid" ng-click =submit()>Submit</md-button>
            </form>
        </div>
    </div>
</div>